{% extends 'base1.html' %}

{% block content %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-light-blue"><i class="fa fa-users"></i></span>
                <a href="{% url 'users_list_view' %}">
                    <div class="info-box-content">
                      <span class="info-box-text">Users</span>
                        <span class="info-box-number">{{ data.users_obj }}</span>
                    </div><!-- /.info-box-content -->
                </a>
            </div><!-- /.info-box -->
        </div>
{% endblock %}
